#intro {
  color: black;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.my-interests {
  border-radius: 15px;
  background-color: rgb(223,220,227);
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.4), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.my-interests h1 {
  color: black;
  font-size: 120%;
  font-weight: 1;
  margin-left: 20px;
  text-align: center;
}

.interest-descriptions {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.interest-descriptions p {
  position: relative;
  font-size: 15px;
  text-decoration-line: none;
  text-align: left;
  color: black;
  margin: 10px 50px 10px 50px;
}

.interest-images img {
  max-height: 90vh;
  height: auto;
  position: relative;
  float: left;
  max-width: 50%;
}

.sports, .traveler, .developer {
  height: 100%;
  display: inline-block;
}
