/*add .wrapper's with width: 90%, max-width: 1200px, margin: 0 auto*/

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

html {
     height: 100%; /* makes sure our HTML takes up 100% of the browser window */
     font-size: 100%;
 }

 body {
     font-family: 'Fira Sans', sans-serif;
     color: white;
     min-height: 100%;
 }

 body.landing {
     background-image: url(../assets/images/backgroundbamboo.jpg);
     background-position: -350px 600px;
     background-size: 140%;
     background-repeat: no-repeat;
     background-color: rgb(74,189,172);
}

 .navbar {
     position: fixed;
     display: inline-block;
     float: left;
     /* right: 0; */
     top: 0px;
     padding: 0.5rem;
     background-color: rgb(74,189,172);
     z-index: 9999;
     border-radius: 15px;
 }
 .logo-container {
    width: 60px;
    float: left;
 }
 .navbar .logo {
     left: 2rem;
     cursor: pointer;
     padding: 0;
     margin: 0;
 }

 .logo-pic {
     width: 100%;
     height: 100%;
 }

#nav-list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    z-index: 2;
    width: 100%;
}

#nav-list a {
    display: block;
    font-family: helvetica;
    color: rgb(252,74,26);
    padding: 10px 4px;
    text-decoration: none;
}

.navs:hover {
    color: rgb(247,183,51)!important;
    text-decoration: none;
}

.navbar:hover #nav-list {
  display: block;
  /* right: 0; */
  width: auto;
}

.page-name {
  color: rgb(252,74,26);
  font-weight: 1;
  text-align: center;
  text-shadow: .5px .5px #000000;
  margin: 0px 0px 0px 0px;
}

.my-likeness {
      /* position: relative; */
      /* min-height: 600px;
      background-image: url(../assets/images/Nichpicture.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; */
  }

.my-likeness .nich-title {
     position: relative;
     /* top: 40%; */
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;
     text-align: center;
     font-size: 4rem;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
     text-shadow: 1px 1px 0px rgb(58,23,63);
}

#job-title {
   /* top: 50%; */
   font-size: 2rem;
 }

#portfolio {
  height: auto;
}

#portfolio .scenery {
  overflow: auto;
  float: left;
  width: 30%;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.4), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.scenery:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 48%;
    max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#footer {
  color: rgb(247,183,51);
  text-align: right;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
